.slide {
	&#slide1,
	&#slide2,
	&#slide3,
	&#slide4,
	&#slide5 {
		color: @white;
		a {
			color: @white;
		}
	}
	// Backgrounds
	&#slide1 {
		// background: @color-one;
		background-image: url('../img/testing.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position-y: 33%;
		background-attachment: fixed;
		min-height: 80vh;
		position: relative;
		@media (max-width: @screen-sm-max){
			height: auto;
		}
		.container {
			padding-top: @navbar-height;
			@media(min-width: @screen-sm-max){
				position: absolute;
				bottom: 60%;
				left: 0;
				right: 0;
				top:15%;
			}
		}
	}
	&#slide2 {
		background: @color-two;
		padding: 25px 0;
		img {
			width: 100%;
			@media(max-width: @screen-xs-max){
				max-width: 500px;
				display: block;
				margin: 0 auto;
			}
		}
	}
	&#slide3 {
		background: @color-three;
		// padding-bottom: 25px;
		display: table;
		.screenshots {
			// margin-bottom: 25px;
			margin-left: -15px;
			margin-right: -15px;
			.col-sm-4 {
				padding-left: 0;
				padding-right: 0;
			}
			.shot {
				width: 33.33333%;
				float: left;
				position: relative;
				border: 1px solid rgba(0,0,0,0.7);
				.overlay {
					position: absolute;
					display: block;
					background: rgba(0,0,0,0.5);
					transition: all .4s ease;
					z-index: 1;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					&.hovered {
						background: rgba(0,0,0,0.5);
						transition: all .4s ease;
						display: none;
						position: initial;
						z-index: 1;
					}
				}
			}

		}
		.work-preview {
			max-width: 100%;
			// -webkit-box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.75);
			// -moz-box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.75);
			// box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.75);;
			// &:hover {
			// 	-webkit-box-shadow: 8px 8px 10px 0px rgba(0,0,0,0.75);
			// 	-moz-box-shadow: 8px 8px 10px 0px rgba(0,0,0,0.75);
			// 	box-shadow: 8px 8px 10px 0px rgba(0,0,0,0.75);;
			// }
		}
		a {
			color: @color-one;
			font-weight: 700;
			position: relative;
			display: block;
			overflow: hidden;
			&:focus, &:active, &:hover {
				color: darken(@color-one, 10%);
				.work-title {
					bottom: 0;
					transition: bottom .4s ease;
				}
			}
			.work-title {
				position: absolute;
				bottom: -100%;
				left: 0;
				right: 0;
				background-color: rgba(0,0,0,0.5);
				margin: 0;
				display: block;
				padding: 15px 0 15px 30px;
				color: @white;
				font-weight: 700;
				transition: bottom .4s ease;
			}
		}
	}
	&#slide4 {
		padding: 25px 0;
		background: @color-four;
		.progress-bar {
			background-color: @color-three;
		}
	}
	&#slide5 {
		background: @color-one;
		padding: 25px 0;
		a {
			color: @white;
			.fa-stack-2x {
				// display: none;
				color: @color-one;
				transition: all .3s ease;
			}
			&:hover {
				.fa-stack-2x {
					// display: inline-block;
					color: @white;
					transition: all .4s ease;
				}
				&#facebook {
					color: @color-facebook;
				}
				&#email {
					color: @color-email;
				}
				&#linkedin {
					color: @color-linkedin;
				}
				&#resume {
					color: @color-resume;
				}
			}
		}
	}
}
