// Colors:
@color-one: #112A60;
@color-two: #112A60; // BLUE
@color-three: #7EC5AA; // GREEN
@color-four: #FFC0A3; // ORANGE
@color-five: #FFF;
// OLD
// @color-one: #1e812b;
// @color-two: lighten(#1862a9, 10%);
// @color-three: #a82c22;
// @color-four: #ecb200;

@white: #FFF;
@black: #000;
@color-facebook: #3b5999;
@color-linkedin: #1985bc;
@color-phone: #08ba28;


// Text:
@import url(https://fonts.googleapis.com/css?family=Catamaran:400,300,700);
@font-main: 'Catamaran', sans-serif;
@font-family-sans-serif:  @font-main; // "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       @font-main; // Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          14px;
@font-size-large:         ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:         ceil((@font-size-base * 0.85)); // ~12px

@font-size-h1:            floor((@font-size-base * 2.6)); // ~36px
@font-size-h2:            floor((@font-size-base * 2.15)); // ~30px
@font-size-h3:            ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4:            ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil((@font-size-base * 0.85)); // ~12px
